.profile-item-header{
    height: 1rem;
    color: white;
    font-weight: 600;
    background-color: #069ed2;
    padding: 1rem 0.5rem;
    line-height: 0rem;
    // margin-bottom: 1.5rem;
}

.profile-item-link{
    padding: 0.5rem 0.5rem;
    border: solid 1px #e5e5e5;
}